h4{
    color :rgba(69, 15, 85, 0.4);
    text-decoration: solid;
    font-weight :bolder;
    font-family :'Times New Roman', Times, serif;
    font-size: 20px;
    text-transform: uppercase;
}
button{
    background-color: bisque;
    color :brown;
}
body{
    background-color: grey;
}
caption{
    text-align : left;
    color :rgba(90, 160, 170, 0.4);
}
#Box1{
    background-color:rgb(164, 205, 205);
    height: 20px;
    width : 100px;
    text-align: center;
}
