*{
    color: White;
}
#navbar{
    height : 60px;
    width : 1500px;
    background-color: black;
}
button{
    background-color:beige;
    color :brown;
    margin-right: 0px;
}
#logo{
    color:cadetblue;
}
#My{
    color:burlywood;
}
#Contact{
    color :burlywood;
}
#input{
    color :black;
    background-color: white;
    margin-right: 0px;

}
.contentBox{
    height : 100px;
    width : 100px;
    border : 2px solid black;
    display : inline;
}
a{
    margin-right: 200px;
}
.box1{
    background-image: url("img2");
    background-size: cover;
    height:320px;
    width:300px;
    font-size:large;
    font-weight: 700;
    color:black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.box2{
    background-image: url("img9");
    background-size: cover;
    height:320px;
    width:300px;
     font-size:large;
    font-weight: 700;
    color:black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.box3{
    background-image: url("img8");
    background-size: cover;
    height:320px;
    width:300px;
     font-size:large;
    font-weight: 700;
    color:black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.box4{
    background-image: url("img7");
    background-size: cover;
    height:320px;
    width:300px;;
     font-size:large;
    font-weight: 700;
    color:black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

