.navbar{
    background-color: pink;
    display:flex;
    justify-content:space-evenly;
}
a{
    text-transform: none;
    color:brown;
    background-color: antiquewhite;
}
li{
    list-style-type: none;
}
.outer{
    height:400px;
    width:400px;
    background-color: aquamarine;
    display:flex;
    justify-content:center;
    align-items: center;
}
.Inner{
    height:150px;
    width:150px;
    background-color: brown;
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function:ease-out;
    transform: scale(2);
    transform:rotate(45deg);
    transform: skew(60deg);
    animation-name:colorAnimate;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-delay: 1s;
    animation-iteration-count: 3;
    animation-direction: reverse;
}
@keyframes colorAnimate{
    from{background-color: darkseagreen;}
    to{background-color: darkmagenta;}
}
.Inner:hover{
    background-color: darkseagreen;
    font-size: 20px;
    transform: translate(20px);
}
.Inner:active{
    background-color:crimson;
}